{% extends 'admin/public/layout.html' %}

{% block style %}
<style>
    .layui-btn-scan {
        position: absolute;
        right: 1%;
        top: 10px;
    }
    .custom-style {

    }
    .radio{
        display: inline-block;
        position: relative;
        line-height: 18px;
        margin: 10px 50px;
        cursor: pointer;
    }
    .radio input{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
    }
    .radio .radio-bg{
        display: inline-block;
        height: 18px;
        width: 18px;
        margin-right: 5px;
        padding: 0;
        background-color: #45bcb8;
        border-radius: 100%;
        vertical-align: top;
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1) inset, 0 1px 4px rgba(0, 0, 0, 0.1) inset, 1px -1px 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 0.2s ease;
    }
    .radio .radio-on{
        display: none;
    }
    .radio input:checked + span.radio-on{
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        background: #FFFFFF;
        top: 4px;
        left: 4px;
        box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3), 0 0 1px rgba(255, 255, 255, 0.4) inset;
        background-image: linear-gradient(#ffffff 0, #e7e7e7 100%);
        transform: scale(0, 0);
        transition: all 0.2s ease;
        transform: scale(1, 1);
        display: inline-block;
    }

</style>
{% endblock %}

{% block body %}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    驱动列表
                </div>
                <div class="layui-card-body">

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    layui.use(['layer', 'form'], function(){
        var $ = layui.$;
        var form = layui.form;



        namespace = '/websocket';
        socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('connect', function() {
            socket.emit('synClientEvent', {data: 'I\'m connected!'});
        });

        socket.on('server_response', function(res) {
            console.log(res.data);
        });


    });
</script>
{% endblock %}