
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>404</title>

<style>
html {
  margin: 0;
  padding: 0;
  background-color: white;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#svgContainer {
  width: 640px;
  height: 512px;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
</style>

</head>
<body>

<script type="application/javascript" src="{{url_for('static', filename='error/js/bodymovin.js')}}"></script>
<script type="application/javascript" src="{{url_for('static', filename='error/js/data.js')}}"></script>

<div id="svgContainer"></div>

<script type="text/javascript">
    var svgContainer = document.getElementById('svgContainer');
    var animItem = bodymovin.loadAnimation({
      wrapper: svgContainer,
      animType: 'svg',
      loop: true,
      animationData: JSON.parse(animationData)
    });
</script>

</body>
</html>
